<!-- Page Content -->
<div class="container2" id="about_title">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">About
    <small> &nbsp; OP</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">About</li>
  </ol>

  <!-- Intro Content -->
  <div class="row">
    <div class="col-lg-6">
      <img class="img-fluid rounded mb-4" src="/img/op_campus.jpg" alt="">
    </div>
    <div class="col-lg-6">


      <p></p>

      <h2>Contact Otago Polytechnic, New Zealand</h2>
      <p>&nbsp;</p>
      <p>Phone (New Zealand freephone): 0800 762 786</p>
      <p>Phone (From outside New Zealand): +64 3 477 3014</p>
      <p>Email: info@op.ac.nz</p>
      <p>Customer services reception desk: Monday - Friday, 8.30am-5.00pm</p>

    </div>
  </div>
  <!-- /.row -->

  <!-- campus -->
  <h2>Our Campus</h2>

  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="/img/op_dunedin.jpeg" alt="">
        <div class="card-body">
          <h4 class="card-title">Dunedin Campus</h4>
          <h6 class="card-subtitle mb-2 text-muted">Forth Street, Dunedin
            Private Bag 1910
            New Zealand 9054 </h6>
          <p class="card-text"><br>New Zealand: 0800 762 786 <br>
            International: +64 3 477 3014 <br>
            Email: info@op.ac.nz</p>
        </div>
        <div class="card-footer">
          <a href="https://www.op.ac.nz/students/campuses/dunedin/">Details</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="/img/op_auckland.jpeg" alt="">
        <div class="card-body">
          <h4 class="card-title">Auckland Campus
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">350 Queen Street
            PO Box 5268, Auckland
            New Zealand 1141 </h6>
          <p class="card-text"><br>New Zealand: 0800 111 212 <br>
            International: +64 9 309 0301 <br>
            Email: auckland@op.ac.nz </p>
        </div>
        <div class="card-footer">
          <a href="https://auckland.op.ac.nz">Details</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="/img/op_central.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Central Otago Campus</h4>
          <h6 class="card-subtitle mb-2 text-muted">Corner Erris & Ray Streets
            PO Box 16, Cromwell
            New Zealand 9342</h6>
          <p class="card-text">International: +64 3 445 9900
            New Zealand: 0800 765 9276
            Email: central@op.ac.nz</p>
        </div>
        <div class="card-footer">
          <a href="https://central.op.ac.nz">Details</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Our Customers -->
  <!-- <h2>Our Customers</h2>
    <div class="row">
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
    </div> -->
  <!-- /.row -->

</div>
<!-- /.container -->



<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>








<div class="a_photo">
  <img src="/img/about_us.jpg" alt="">
</div>