<section class="body">
    <!-- This is the discription section -->
    <section>
        <h1>Sustainability Monitoring</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active">Achievement</li>
          </ol>

        <p>Sustainable practice at Otago Polytechnic is a holistic concept – we seek not only to improve the environment but also the health and wellbeing of our people and our communities.
        </p>
    </section>
    <!-- This is the first sliding section -->
    <section class="sliding">
        <div id="flip1"><i class="fas fa-plus"></i> Carbon use by volume and type emissions</div>
        <div id="panel1">
            <p>Our overall carbon footprint increased by 174 tonnes – or nine per cent – in 2017, largely due to an increase in travel-related expenses such as petrol, diesel and air kilometres. The rise in air travel is driven by the continued growth
                in the number of research-active staff producing outputs of international standard and presenting at conferences around the world, and our continued focus on the development of key international partnerships with a view to further
                building our international student numbers. It is especially pleasing to note that our 2017 electricity usage has remained low, consistent with that of 2016.</p>
            <img src="/img/graph.png" alt="">
        </div>
    </section>
    <!-- This is the second sliding section -->
    <section class="sliding">
        <div id="flip2"><i class="fas fa-plus"></i> TEFMA benchmarking</div>
        <div id="panel2">
            <p>In order to develop benchmarks for environmental monitoring, Otago Polytechnic once again took part in the Tertiary Education Facilities Management (TEFMA) survey, enabling comparison with participating Australasian tertiary institutions.
                The survey measures the tonnes of carbon per EFTS and FTE staff. The latest results position Otago Polytechnic as having the lowest footprint of the seven New Zealand institutions taking part when comparing energy use from all sources
                – fuel, gas and electricity. Total carbon emissions from Otago Polytechnic were 0.11 compared to the New Zealand average of 0.45 and the Australian average of 1.48.</p>
            <img src="/img/2ndchart.png" alt="">
        </div>
    </section>

    <!-- This is the third sliding section -->
    <section class="sliding">
        <div id="flip3"><i class="fas fa-plus"></i> Cardboard recycling</div>
        <div id="panel3">
            <p>Cardboard recycling remained comparable to 2016 levels, which reflects the use of multi-use packaging by suppliers. Paper usage has decreased notably, but not by as much as it appears. One of our suppliers misreported ream volumes in 2016,
                overstating the amount consumed that year.

            </p>
            <table>
                <tr>
                    <th>Resource</th>
                    <th>2017</th>
                    <th>2016</th>
                    <th>2015</th>
                </tr>
                <tr>
                    <td>Electricity (kW hours)</td>
                    <td>3,761,554</td>
                    <td>3,754,464</td>
                    <td>3,830,691</td>
                </tr>
                <tr>
                    <td>Paper (A4 reams)</td>
                    <td>5,095</td>
                    <td>7,883</td>
                    <td>4,861</td>
                </tr>
                <tr>
                    <td>Water (m3)</td>
                    <td>71,027</td>
                    <td>71,220</td>
                    <td>74,100</td>
                </tr>
            </table>
        </div>
    </section>

    <!-- This is the forth sliding section -->
    <section class="sliding">
        <div id="flip4"><i class="fas fa-plus"></i> Waste management</div>
        <div id="panel4">
            <p>Otago Polytechnic produced 117 landfill tonnes of waste in 2017, a very slight increase on the 112 landfill tonnes in 2016. There was a doubling of ash to landfill – from two tonnes to four tonnes – due to increased boiler use as a result
                of particularly cold temperatures throughout most of 2017.</p>
            <img src="/img/3rdchart.png" alt="">
        </div>
    </section>
    <!-- This is the fifth sliding section -->
    <section class="sliding">
        <div id="flip5"><i class="fas fa-plus"></i> Water and gas usage</div>
        <div id="panel5">
            <p>We noticed a considerable decrease in the amount of gas used in 2017, down 36 per cent to sit at 12,081 litres. This was largely due to our major gas user, our School of Hospitality, replacing all of its gas ovens with electric models.
                There was also a pleasing drop in overall water consumption in 2017, down to 71,027 cubic metres from 78,485 in 2016.</p>
            <h6>Water usage in cubic meters</h6>
            <img src="/img/4thchart.png" alt="">
            <h6>Gas usage in litres</h6>
            <img src="/img/finalchart.png" alt="">
        </div>
    </section>
</section>
