<section id="mainbody">
  <!-- This is the discription section in the body of the homepage -->
  <div class="discription">
    <p class="welcome"><span>Welcome to OPAIC</span></p>
    <p class="dispara">Otago Polytechnic is committed to making a difference
      to the environment.Our goal is to continue to minimise our environmental
      impact and to encourage others to embrace sustainable practices.</p>
    <hr class="horizontal">
  </div>

  <!-- The comments section -->
  <div class="carouselsection">
    <section id="testimonials">
      <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <!-- first comment -->
          <div class="carousel-item active">
            <!-- content of comment -->
            <h2 class="testimonial-text">The Living Campus has turned Otago
              Polytechnic's existing Dunedin campus into an open-air interactive
              museum experience, vibrant community garden and sustainable</h2>
            <!-- photo of person -->
            <img class="testimonial-image" src="/img/u56.png" alt="dog-profile">
            <!-- name of person -->
            <em>Pebbles, New York</em>
          </div>

          <!-- second comment -->
          <div class="carousel-item">
            <!-- content of comment -->
            <h2 class="testimonial-text">With OP's goal to provide a more effective
              learning and teaching environment for our staff and students, we now
              closely monitor our energy usage on campus.</h2>
            <!-- photo of person -->
            <img class="testimonial-image" src="/img/u57.png" alt="lady-profile">
            <!-- name of person -->
            <em>Beverly, Illinois</em>
          </div>


          <!-- third comment -->
          <div class="carousel-item">
            <!-- content of comment -->
            <h2 class="testimonial-text">OP is involved in a number of initiatives,
              including community projects and volunteer work, to ensure we set a
              good example – both to</h2>
            <!-- photo of person -->
            <img class="testimonial-image" src="/img/u58.png" alt="dog-profile">
            <!-- name of person -->
            <em>Bennie, Ohio</em>
          </div>
        </div>
       
        <!-- the button of comment section -->
        <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#testimonialCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section>
  </div>
 <!-- comment section end -->





  <!-- project section -->
  <section id="features">

    <div class="row">
      <!-- first project -->
      <div class="feature-box col-lg-4 col-md-12 text-center">
        <a  href="/project_e"><i class="fas fa-battery-half features-icon fa-4x "></i></a>
        <h3>save energy.</h3>
        <p>Do the Earth a favour. Be an energy saver!</p>
      </div>

      <!-- second project -->
      <div class="feature-box col-lg-4 col-md-12 text-center">
        <a href="/project_w"><i class="fas features-icon fa-tint fa-4x"> </i></a>
        <!-- <i class="fas fa-hand-holding-water"></i> -->
        <h3>save water.</h3>
        <p>Conserve water, conserve life.</p>
      </div>

      <!-- third project -->
      <div class="feature-box col-lg-4 col-md-12 text-center">
        <a href="/project_s"><i class="features-icon far fa-lightbulb fa-4x"></i></a>
        <h3>lightbulb.</h3>
        <p>Use smart lightbulb.</p>
      </div>
    </div>
  </section>
  <!-- project section end-->


  
  <section id="quotes">
    <hr class="horizontal3">
    <p class="bottomquote">sustainability is more important than ever</p>
    <hr class="horizontal3">
  </section>
</section>