<section id="footer">

  <p class="getInTouch">Get in touch</p>
  <!-- contact detail -->
  <p class="afterGIT">Address : 350 Queen Street, PO BOX 5268, Auckland, 1141, New Zealand</p>
  <p class="contactNumber"> <span class="pNumber">New Zealand :
      0800 111 212</span> <span class="pNumber">International :
      +64 9 309 0301</span> <span class="pNumber"><a class="email1" href="mailto:auckland@op.ac.nz ">Email :
        auckland@op.ac.nz
      </a></span> </p>
  <!-- social media logo -->
  <!-- ins -->
  <a href="https://www.instagram.com/otagopolytechnicauckland/">
    <i class="fab fa-instagram"></i>
  </a>
  <!-- facebook -->
  <a href="https://www.facebook.com/OtagoPolyAIC/">
    <i class="fab fa-facebook-f"></i>
  </a>

  <!-- youtube -->
  <a href="https://www.youtube.com/channel/UCRSet54nNLAiFTGvVT7b0-g">
    <i class="fab fa-youtube-square"></i>
  </a>
  <!-- linkedin -->
  <a href="https://nz.linkedin.com/school/otago-polytechnic-auckland-international-campus/">
    <i class="fab fa-linkedin-in"></i>
  </a>
  <!-- Copyright -->
 

  <hr class="horizontal2">
  <p class="Copyright">© Copyright by Otago Polytechnic Auckland Campus</p>
</section>