<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">  
    <img class="op_logo" src="/img/op_logo2.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>





    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="/">HOMEPAGE <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/achievements">ACHIEVEMENTS</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          OPAIC INITATIVES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/project_e">PROJECT 1 e</a>
          <a class="dropdown-item" href="/project_s">PROJECT 2 s</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" href="/project_w">PROJECT 3 w</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/about"> CONTACT US</a>
      </li>
    </ul>
  </div>
</nav>

