<!-- <h1></h1>
<h2>Electric Usage Deciline</h2> -->
<!-- chart containers -->
<!-- <div id="powerChart"></div> -->
<!-- <div id="waterChart"></div> -->
<!-- fetches data from api/data page & renders chart from data returned -->
<script src="/js/Chart.min.js"></script>
<script src="/js/utils.js"></script>

<link rel="stylesheet" href="/css/test.css">


<!-- Page Content -->
<div class="container1" id="test_body">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">OP INITATIVE
        <small>PowerChart</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">OP INITATIVE</li>
    </ol>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div style="width:69%; ">
            <canvas id="canvas"></canvas>
        </div>
        <script src="/js/zchart.js" charset="utf-8"></script>


<div class="right">
    <h2>PowerChart</h2>
    <p>this is the power chart. this is the power chart.
        this is the power chart. this is the power chart.
    </p>
    <p>this is the power chart. this is the power chart.
        this is the power chart.this is the power chart.
    </p>

</div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h3 class="my-4">Related Projects</h3>

    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4" id="related_chart">
            <a href="/project_s">
                <img class="img-fluid" src="/img/water.jpg" alt="">
            Water Chart</a>
        </div>

        <div class="col-md-3 col-sm-6 mb-4" id="related_chart">
            <a href="/project_w">
                <img class="img-fluid" src="/img/water.jpg" alt="">
            xxx Chart</a>
        </div>

       

    </div>
    <!-- /.row -->

</div>

<div class="power">
    <img src="/img/power.jpg" alt="">
</div>