<!DOCTYPE html>
<html lang="en">

<head>
    <!-- link the resourse  -->

    <%- include('../views/partials/resourse'); %>

</head>

<body>

    <header>
        <!-- header part -->

        <div><%- include('../views/partials/nav_no_img'); %></div>

    </header>


    <!-- body part -->
    <div> <%- include('../views/partials/about_body'); %></div>


    <!-- footer part -->

    <footer>
        <div><%- include('../views/partials/footer'); %></div>
    </footer>

</body>

</html>