<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/resourse'); %>
</head>
<body>

    <header>
        <%- include('../views/partials/Achieve_header'); %>
    </header>
 
    <%- include('../views/partials/achievement_body'); %>

   

    <footer>
        <%- include('../views/partials/footer'); %>
    </footer>

</body>
</html>