<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPAIC INITIATIVES</title>
    <link rel="stylesheet" href="../public/css/chart.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous" defer></script>
    <script src="./chart.js" defer></script>
</head>
<body>
    <h1><%= text %></h1>
    <h2>This is the led projects</h2>
    <h3>Poll Results with Chartjs from Mongodb</h3>
<div class="chart-container">
  <canvas id="mychart" width="700" height="400"></canvas>
  
</div>
    
    <p><img src="img/power.jpg" alt="Green" width="100%" height="500"></p>

</body>
<footer>@COPYRIGHT TEAM2 OPAIC PROJECTS</footer>
</html>