* {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
}
body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #eee;
  color: #111;
}
h3 {
  text-align: center;
  margin: 1.25rem 0 0.25rem 0;
}
.chart-container {
  position: relative;
  width: 55vw;
  height: 30vw;
  margin: auto;
}
canvas{
  border :2px rgb(8, 102, 165);
}